{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 30.55375449874654,
    "longitude": -97.74487318640692,
    "elevation": 278,
    "unit_system_v2": "us_customary",
    "location_name": "Ranch",
    "time_zone": "America/Chicago",
    "external_url": null,
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en",
    "radius": 25
  }
}