# Ignore all files by default
*

# Allow YAML files
!*.yaml

# Allow .gitignore file itself
!.gitignore

# Exclude specific files and folders
home-assistant_v2.db
home-assistant.log
home-assistant_v2.*
*.log
*.db
*.db-shm
*.db-wal

# Ignore additional folders
storage/
deps/
__pycache__/
